.card {
  max-width: 860px;
  margin: 30px auto;
}

.card__image {
  width: 100%;
  margin-top: 18px;
  max-height: 1000px;
  object-fit: cover;
}

.card__title {
  font-weight: 700;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 0;
}

.card__description {
  width: 70%;
  margin-top: 5px;
}

.card__story {
  width: 70%;
  margin-top: 10px 0;
}

.card__heading_story {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
